/* You can add global styles to this file, and also import other style files */
:root{
  --text-color: 233, 233, 233;
  --primary: 0, 3, 82;
  --secondary: 154, 154, 154;
  --danger: rgb(255, 92, 92);
}
