/* You can add global styles to this file, and also import other style files */
:root{
  --text-color: 233, 233, 233;
  --primary: 36, 39, 63;
  --primary-900: 23, 24, 35;
  --secondary: 154, 154, 154;
  --danger: rgb(255, 92, 92);
}
